.badge {
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	height: 6.5rem;
	width: 6.5rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 75%;
	background-repeat: no-repeat;
	background-image: url('../assets/icons/uncle-sam.png');
	border: 0.5rem solid #e8a62d;
	background-color: #efc576;
}

.badge.unachieved {
	filter: grayscale(100%);
}

.badge.unachieved::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-color: #000;
	border: 0.5rem solid #000;
	transition: all 0.5s linear;
	opacity: 0.7;
	z-index: 0;
}
